@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200;1,300;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  text-align: center;
}
